.modal-content {
	background-color: #f7f7f7f7;
  }
  .modal-content h5{
	font-size: 1.5rem;
  }
  
  .modal-content .form-control {
	background: white;
	height: 45px;
	font-size: 16px;
	border: 0;
	color: black;
	padding: 6px 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;}
.modal-content textarea.form-control {
	  height: 90px;}